.pop-container{
    width: 50px;
    height: 50px;
    padding: .5rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 2rem;
    box-sizing: border-box;
    margin: 0 auto;
}
.pop-container h1{
    font-size: 16px;
    color: white;
    padding: 0 .6rem;
    opacity: 0;
}
.pop-container > div{
    opacity: 0;
    background: blue;
    color: white;
    width: 30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* display: none; */
}